<h1>Halı Sahalar</h1>
<% @astroturves.each do |astroturf|  %>
<b><%= astroturf.name %><br></b>
<%= astroturf.address %><br>
<%= astroturf.city %><br>
<%= astroturf.info %><br>
<%= astroturf.phone %><br>
<%= astroturf.facebook %><br>
<% end %>
