<h1>Halı Sahalar</h1>
<b><%= @astroturf.name %><br></b>
<%= @astroturf.address %><br>
<%= @astroturf.city %><br>
<%= @astroturf.info %><br>
<%= @astroturf.phone %><br>
<%= @astroturf.map %><br>
<%= @astroturf.facebook %><br>
<%= @astroturf.twitter %><br>
<%= @astroturf.instagram %><br>
