<h1>Halı Sahalar</h1>
<b><%= @astroturf.name %><br></b>
<%= @astroturf.address %><br>
<%= @astroturf.city %><br>
<%= @astroturf.info %><br>
<%= @astroturf.phone %><br>
<%= @astroturf.map %><br>
<%= @astroturf.facebook %><br>
<%= @astroturf.twitter %><br>
<%= @astroturf.instagram %><br>
<%= @astroturf.services.collect {|x| x.name }.join(", ") %><br>

<%= link_to 'Düzenle', edit_astroturf_path %><br>
<%= link_to 'Sil', astroturf_path, method: :delete %><br>
<%= render 'comments/comments' %>
<% if current_user.present? %>
  <%= render 'votes/form' %>
  <%= render 'comments/form' %>
<% end %>
