<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-success">
      <div class="panel-heading">
        <b><%= link_to @astroturf.name, astroturf_path(@astroturf) %></b>
        (<%= link_to 'Düzenle', edit_astroturf_path %>)
        (<%= link_to 'Sil', astroturf_path, method: :delete %>)
      </div>
      <div class="panel-body">
        <b>Address : </b><%= @astroturf.address %><br>
        <b>Şehir : </b><%= @astroturf.city %><br>
        <b>Ek Bilgi : </b><%= @astroturf.info %><br>
        <b>Telefon : </b><%= @astroturf.phone %><br>
        <b>Hizmetler : </b><%= @astroturf.services.collect {|x| x.name }.join(", ") %><br>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <%= render 'comments/comments' %>
  <% if current_user.present? %>
    <%= render 'votes/form' %>
    <%= render 'reservations/form' %>
  <% end %>
</div>
